workflow/auto-classify-gmail-emails-with-ai-and-apply-labels-for-inbox-organization.json
{
  "createdAt": "2025-08-11T20:14:39.779Z",
  "updatedAt": "2025-08-11T21:59:56.000Z",
  "id": "cMG0290x1gbjGur8",
  "name": "Auto-classify Gmail emails with AI and apply labels for inbox organization",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324:free",
        "options": {}
      },
      "id": "37166e51-ffb6-43fe-8bd5-fe5eb1249366",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        1280,
        560
      ],
      "typeVersion": 1,
      "credentials": {
        "openRouterApi": {
          "id": "mAVDnIi0z9m9owJQ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "067f6b55-dc4c-4757-b19e-2d539b8b2526",
      "name": "Aggregate Gmail Messages",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "7807ff72-49f7-4a7b-9d75-24746d0dfdb7",
      "name": "Merge Labels & Messages",
      "type": "n8n-nodes-base.merge",
      "position": [
        976,
        352
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an email classification assistant. Your task is to analyze Gmail email snippets and categorize them into one of the following labels:\n\n1. To respond - Emails requiring a direct personal response from you (questions from individuals, personal conversations, NOT automated feedback requests)\n2. FYI - Emails requesting you to take action, reminders, or alerts about issues (add money requests, payment failures, action needed)\n3. Comment - Emails specifically asking for your feedback, review, or opinion in a professional/collaborative context\n4. Notification - Automated updates about completed or ongoing events (successful payments, transfers sent, deployments, shipments, security alerts)\n5. Meeting update - Calendar invites, meeting changes, or meeting-related communications\n6. Awaiting reply - Follow-up emails or reminders about your pending responses\n7. Actioned - Confirmations of actions YOU specifically took (not automated system actions)\n8. Marketing - Promotional content, sales emails, feature announcements, newsletters, or automated customer feedback surveys\n\nKey classification rules:\n- Automated status updates (deployments, transfers, payments processed) → Notification\n- Requests to add money or take action → FYI\n- Payment failure alerts → FYI\n- Security alert digests → Notification\n- Shipment updates → Notification\n- Direct Debit payment confirmations → Notification\n- Balance update confirmations → Notification\n- Customer satisfaction surveys or feedback requests → Marketing\n- Automated \"how was your experience\" emails → Marketing\n- Only use \"Actioned\" for confirmations of YOUR manual actions\n- Only use \"Marketing\" for promotional content, including feedback surveys\n\nInstructions:\n1. Read the email snippet carefully\n2. Note the sender (if provided) for context\n3. Choose the single most appropriate label based on the rules above\n4. IMPORTANT: Respond ONLY with the number and label (e.g., \"2. FYI\")\n5. Do not include any other text, explanation, or repeat the email content\n\nEmail From:\n{{ $json.From }}\nEmail To:\n{{ $json.To }}\nEmail subject:\n{{ $json.Subject }}\nEmail snippet:\n{{ $json.snippet }}\n\nYour response must be exactly one of these 8 options:\n1. To respond\n2. FYI\n3. Comment\n4. Notification\n5. Meeting update\n6. Awaiting reply\n7. Actioned\n8. Marketing",
        "batching": {}
      },
      "id": "8c51f04b-3415-4d53-8624-ce8d484145b9",
      "name": "Classify Email with AI",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        1248,
        352
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 12
            }
          ]
        },
        "filters": {}
      },
      "id": "ddbdc31a-ea27-415e-b9e2-954959cfcb7a",
      "name": "New Gmail Email Received",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        176,
        368
      ],
      "typeVersion": 1.2,
      "credentials": {
        "gmailOAuth2": {
          "id": "NwIuiBTc5pvgThwX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "id": "52b3a1d8-3be8-4f57-8759-7ae9abcdb5cb",
      "name": "Fetch Available Gmail Labels",
      "type": "n8n-nodes-base.gmail",
      "position": [
        592,
        240
      ],
      "webhookId": "8574ca24-b439-4bc3-aa28-ae2b539a8d8e",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "NwIuiBTc5pvgThwX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst combinedObject = items.reduce((acc, item) => {\n  return { ...acc, [item.json.name]: item.json.id };\n}, {});\n\nreturn { combinedObject };\n"
      },
      "id": "2d15670f-5735-4110-a1eb-d5b6b8abef89",
      "name": "Map Label Names to IDs",
      "type": "n8n-nodes-base.code",
      "position": [
        800,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Merge Labels & Messages').item.json.id }}",
        "labelIds": "={{ $('Map Label Names to IDs').item.json.combinedObject[$json.text] }}"
      },
      "id": "4c5d1e4a-93ce-4f78-b0ce-8b94aff99498",
      "name": "Apply Classification Label",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1696,
        352
      ],
      "webhookId": "2ffe45e7-a0e3-4304-a6bf-e217c15ea6cc",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "NwIuiBTc5pvgThwX",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Email with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classify Email with AI": {
      "main": [
        [
          {
            "node": "Apply Classification Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Label Names to IDs": {
      "main": [
        [
          {
            "node": "Merge Labels & Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Labels & Messages": {
      "main": [
        [
          {
            "node": "Classify Email with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Gmail Messages": {
      "main": [
        [
          {
            "node": "Fetch Available Gmail Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Gmail Email Received": {
      "main": [
        [
          {
            "node": "Aggregate Gmail Messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Labels & Messages",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Available Gmail Labels": {
      "main": [
        [
          {
            "node": "Map Label Names to IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": {
    "node:New Gmail Email Received": {
      "New Gmail Email Received": {
        "lastTimeChecked": 1754943540
      }
    }
  },
  "meta": {
    "templateId": "4876"
  },
  "pinData": {},
  "versionId": "c36248bf-5086-4e02-a83b-dc21b96147fa",
  "triggerCount": 1,
  "tags": []
}