workflow_backups/work-attendance-location-triggers_20250815_232921.json
{
  "createdAt": "2025-08-15T19:48:03.555Z",
  "updatedAt": "2025-08-15T19:48:03.555Z",
  "id": "9fdjFEnfOXoNu3LI",
  "name": "Automated Work Attendance with Location Triggers",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "time-track",
        "options": {}
      },
      "id": "b2cba308-6d47-432b-9296-58f233f15565",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        816,
        560
      ],
      "webhookId": "801c8367-af7b-4371-8684-cc699090b97f",
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Check if the Worksheet Exists",
        "height": 180,
        "width": 1120
      },
      "id": "67354f1c-9dac-4edd-b07d-f1b0dbd80159",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "WorkTimeTracking",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "id": "5fc5a1a6-f18d-4ee0-a70b-30de48a45dc7",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1040,
        352
      ],
      "executeOnce": false,
      "typeVersion": 3,
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "aFTXPLg7RcvG8SBS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "WorkTimeTracking",
        "sheetsUi": {
          "sheetValues": [
            {
              "title": "Worklog"
            }
          ]
        },
        "options": {
          "locale": ""
        }
      },
      "id": "a0b63be4-fa46-413f-82fe-42e6edc24f29",
      "name": "Create Worksheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1616,
        320
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZreDqNfTCjkYYjcP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{json: {empty: items.length == 1 && Object.keys(items[0].json).length == 0}}];"
      },
      "id": "796e3ef6-3002-493e-8d89-10cba2d8026d",
      "name": "Return if Null",
      "type": "n8n-nodes-base.code",
      "position": [
        1216,
        352
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "215b8ced-c6f5-4cf2-8755-9bba928dbe84",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{$json[\"empty\"]}}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "7af7ce4b-93e0-4058-8a45-9fd8269ddc77",
      "name": "Doesn't exist?",
      "type": "n8n-nodes-base.if",
      "position": [
        1392,
        352
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"Date\": \"{{ $now.format('yyyy-MM-dd') }}\",\n  \"Time\": \"{{ $now.format('hh:mm') }}\",\n  \"Direction\":\"Check-In\"\n}\n",
        "options": {}
      },
      "id": "f2bc21c6-805b-49e7-b026-a4de56dce1fa",
      "name": "Set Logging Details",
      "type": "n8n-nodes-base.set",
      "position": [
        1600,
        592
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Google Drive').item.json.id }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 308318361,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P7-Uqa4SPA6keujkkOTru1wdS2qDryJVkz0Nz_sFp7A/edit#gid=308318361",
          "cachedResultName": "Worklog"
        },
        "columns": {
          "value": {
            "Date": "={{ $json.Date }}",
            "Time": "={{ $json.Time }}",
            "Direction": "={{ $('Webhook').item.json.headers.direction ? $('Webhook').item.json.headers.direction : \"\"}}"
          },
          "schema": [
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Direction",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Direction",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "64bc8b93-a925-49d6-9e52-3f30f0c9e5a8",
      "name": "Create Log",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1808,
        592
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZreDqNfTCjkYYjcP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Log Check-In or Check-Out",
        "height": 280,
        "width": 600
      },
      "id": "cabca7d5-b4ae-45db-904d-f8efb37c4ab2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1472,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Location-Based Time Tracking\n\nThis automation streamlines your time tracking by using location triggers. Here's how it works:\n\nCreate two shortcuts in the iPhone Shortcuts app:\n\nName one \"Check-In\" and the other \"Check-Out.\"\nWithin each shortcut, use the \"Get Content from URL\" action to call the Webhook. Set the Header Direction for \"Check-In\" or \"Check-Out\"\n\n\nNow, whenever you enter or exit the specified location, your iPhone will automatically record the time in your Google Sheet. This creates a seamless and accurate log of your work hours or time spent at a particular place.",
        "height": 640,
        "width": 380,
        "color": 3
      },
      "id": "5b9505fc-71a4-42c1-805f-c363384b4c8a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Return if Null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Doesn't exist?": {
      "main": [
        [
          {
            "node": "Create Worksheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Logging Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return if Null": {
      "main": [
        [
          {
            "node": "Doesn't exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Worksheet": {
      "main": [
        [
          {
            "node": "Set Logging Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Logging Details": {
      "main": [
        [
          {
            "node": "Create Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": {},
  "pinData": {},
  "versionId": "1d6e273c-c957-480d-b7d0-bfc2cfedd0be",
  "triggerCount": 0,
  "tags": []
}
